@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4", style="font-family: Comic Sans MS;">Welcome Heros</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<br>

<div class="container-fluid bg-3 text-center">
    <h3>Some of my Work</h3><br>
    <div class="row">
        <div class="col-lg-9">
            <h1>The Spectre</h1>
            <img src="https://i.cdn.newsbytesapp.com/images/l205_21021605788273.jpg" class="img-responsive" style="width:100%" alt="Image">
            <p></p>
        </div>
        
        <div class="col-sm-3">
            <h3>DC and Marvel Heros</h3>
            <img src="https://www.comicbasics.com/wp-content/uploads/2020/08/The-Top-10-Greatest-Superheroes-Without-Superpowers-In-Comics-Today.jpg" class="img-responsive" style="width:100%" alt="Image">
            <p></p>
           
        </div>
        <div class="col-sm-3">
            <h1></h1>
            <img src="https://static.vecteezy.com/system/resources/previews/000/156/613/original/kids-boys-and-girls-wearing-superheroes-costumes-vector.jpg" class="img-responsive" style="width:100%" alt="Image">
            <p></p>
            
        </div>
    </div>
</div>
<br>